{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "no-return-assign": "off",
    "global-require": "off",
    "arrow-body-style" : "warn",
    "no-console" : "off",
    "class-methods-use-this": "off",
    "max-len": ["error", { "ignoreUrls": true, "ignoreComments": true, "ignoreTemplateLiterals": true, "code": 100 }],
    "react/prop-types": "off",
  }
}
